@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
#pointer{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:2px solid gold;
    z-index: 3;
    position: absolute;
    top: 50px;
    left: 50px;
}
#pointer div{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 17.5px;
    left: 17.5px;
    background-color: #3D3A4B;
    position: relative;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #E3DFFF;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    cursor: none;
}
.wrapper{
    z-index: 2;
    display: flex;
}
.mail{
    position: absolute;
    left: -5%;
    align-self: center;
    transform: rotate(90deg);
}
.mail a{
    color: #937666;
    text-decoration: none;
    font-size: 24px;
}
.links{
    position: absolute;
    right: 3%;
    align-self: center;  
    display: flex;
    flex-direction: column;
}

.title h1{
    font-size: 148px;
    font-weight: bold;
    z-index: 2;
    color: #D3C0CD;
    opacity: .8;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: .86;
    
}
.hidden{
    opacity: 0;
}
.vanish{
    animation-name: vanish;
    animation-duration: 1s;
}
.apear{
    animation-name: apear;
    animation-duration: 1s;
}
img{
    width: 150px;
    position: absolute;
    padding: px;
    border: 2px solid gold;
    border-radius: 5px;
    box-shadow: goldenrod 5px 5px 5px;
}

@keyframes vanish {
    0% {opacity: 1;
        width: 150px;}
    20% {opacity: .5;}
    100% {opacity: 0;
        width: 100px;}
  }
@keyframes apear {
    0% {opacity: 0;
        width: 100px;}
    33% {opacity: .5;}
    100% {opacity: 1;
        width: 150px;}
  }